.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: opacity .25s ease;
}

.read-more-state {
  &:checked ~ {
    .read-more-wrap .read-more-target {
      opacity: 1;
      font-size: inherit;
      max-height: unset;
      transition: opacity .25s ease;
    }
    .read-more-trigger:before {
      content: 'Show less';
    }
  }
  & ~ .read-more-trigger:before {
    content: 'Show more';
  }
}
