// Variables
@import 'variables';
@import 'styles';

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --page-background-color: #F5F6F9;
  --card-background-color: white;
  --button-background-color: #47cdff;
  --page-nav-background-color: white;

  --text-default-color: #222;
}

.theme-dark {
  --page-background-color: #17181E;
  --card-background-color: #1F2027;
  --button-background-color: #59B6F9;
  --page-nav-background-color: #1F2027;
  --text-default-color: white;
}

.button{
  @apply .bg-button .rounded-lg .text-sm .py-2 .px-5;
  box-shadow: 0 2px 7px #b0eaff;
  color: white;
}

.card{
  @apply .bg-card .rounded-lg .p-5 .shadow;
  color: var(--text-default-color);
}

.text-input {
  @apply outline-none;
  background-color: transparent;
  color: var(--text-default-color);
}

.invited {
    .v-popover {
        transition: .2s ease;
        margin-right: -44px;
    }

    &:hover {
        .v-popover {
            transition: .2s ease;
            margin-right: 0px;
        }
    }
}




